VITE_API_URL=https://TU-BACKEND.onrender.com
VITE_FRONTEND_API_KEY=tu_frontend_api_key
VITE_IMG_BASE_URL=https://firebasestorage.googleapis.com/v0/b/webhook-receiver-b74d8.firebasestorage.app/o/productos%2F
